<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>填写表单</title>
    <script type="text/javascript" src="../../js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
    <!--    vue3就不再和elementui兼容了-->
    <!--引入 element-ui 的样式，-->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 必须先引入vue，  后使用element-ui -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <!-- 引入element 的组件库-->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
</head>
<style>
    #app{
        width: 50%;
        margin-left: 25%;
    }
</style>
<body>
<div id="app">
    <el-form :model="formInfo" ref="formInfo" label-width="100px" class="demo-ruleForm">
        <el-row v-for="item, i in formInfo.data" :key="i" v-if="i % 2 === 0">
<!--            <el-col :span="2">{{i}}、{{item.label}}:{{item[item.type]}}</el-col>-->
            <el-col :span="12">
                <el-form-item :label="item.label" :prop="'data.'+i+'.'+item.type" :rules="item.req ? rules[item.type].concat(rules.baseRule) : rules[item.type]">
                    <el-input v-if="item.type === 'text'" :disabled="!item.canEdit || formInfo.formStatus !== 1" v-model="item.text" clearable></el-input>
                    <el-input v-if="item.type === 'number'" :disabled="!item.canEdit || formInfo.formStatus !== 1" v-model.number="item.number" clearable></el-input>
                    <el-input v-if="item.type === 'tel'" :disabled="!item.canEdit || formInfo.formStatus !== 1" v-model.number="item.tel" clearable></el-input>
                    <el-select v-if="item.type === 'select'" :disabled="!item.canEdit || formInfo.formStatus !== 1" v-model="item.select" placeholder="请选择" clearable>
                        <el-option v-for="option, i in item.options" :key="i" :label="option" :value="option"></el-option>
                    </el-select>
                    <el-date-picker v-if="item.type === 'date'" :disabled="!item.canEdit || formInfo.formStatus !== 1" type="date" placeholder="选择日期" v-model="item.date" style="width: 100%;"></el-date-picker>
                    <el-checkbox-group v-if="item.type === 'checkbox'" :disabled="!item.canEdit || formInfo.formStatus !== 1" v-model="item.checkbox">
                        <el-checkbox v-for="option, i in item.options" :key="i" :label="option" :value="option"></el-checkbox>
                    </el-checkbox-group>
                    <el-radio-group v-if="item.type === 'radio'" :disabled="!item.canEdit || formInfo.formStatus !== 1" v-model="item.radio">
                        <el-radio v-for="option, i in item.options" :key="i" :label="option" :value="option"></el-radio>
                    </el-radio-group>
                    <el-input v-if="item.type === 'textarea'" :disabled="!item.canEdit || formInfo.formStatus !== 1" type="textarea" v-model="item.textarea" clearable></el-input>
                </el-form-item>
            </el-col>
<!--            <el-col :span="2">{{i}}、{{item.label}}:{{item[item.type]}}</el-col>-->
<!--            <el-col :span="2" v-if="formInfo.data[i+1] != undefined">{{i+1}}、{{formInfo.data[i+1].label}}:{{formInfo.data[i+1][item.type]}}</el-col>-->
            <el-col :span="12">
                <el-form-item v-if="formInfo.data[i+1] != undefined" :label="formInfo.data[i+1].label" :prop="'data.'+(i+1)+'.'+formInfo.data[i+1].type" :rules="formInfo.data[i+1].req ? rules[formInfo.data[i+1].type].concat(rules.baseRule) : rules[formInfo.data[i+1].type]">
                    <el-input v-if="formInfo.data[i+1].type === 'text'" :disabled="!formInfo.data[i+1].canEdit || formInfo.formStatus !== 1" v-model="formInfo.data[i+1].text" clearable></el-input>
                    <el-input v-if="formInfo.data[i+1].type === 'number'" :disabled="!formInfo.data[i+1].canEdit || formInfo.formStatus !== 1" v-model.number="formInfo.data[i+1].number" clearable></el-input>
                    <el-input v-if="formInfo.data[i+1].type === 'tel'" :disabled="!formInfo.data[i+1].canEdit || formInfo.formStatus !== 1" v-model.number="formInfo.data[i+1].tel" clearable></el-input>
                    <el-select v-if="formInfo.data[i+1].type === 'select'" :disabled="!formInfo.data[i+1].canEdit || formInfo.formStatus !== 1" v-model="formInfo.data[i+1].select" placeholder="请选择" clearable>
                        <el-option v-for="option, i in formInfo.data[i+1].options" :key="i" :label="option" :value="option"></el-option>
                    </el-select>
                    <el-date-picker v-if="formInfo.data[i+1].type === 'date'" :disabled="!formInfo.data[i+1].canEdit || formInfo.formStatus !== 1" type="date" placeholder="选择日期" v-model="formInfo.data[i+1].date" style="width: 100%;"></el-date-picker>
                    <el-checkbox-group v-if="formInfo.data[i+1].type === 'checkbox'" :disabled="!formInfo.data[i+1].canEdit || formInfo.formStatus !== 1" v-model="formInfo.data[i+1].checkbox">
                        <el-checkbox v-for="option, i in formInfo.data[i+1].options" :key="i" :label="option" :value="option"></el-checkbox>
                    </el-checkbox-group>
                    <el-radio-group v-if="formInfo.data[i+1].type === 'radio'" :disabled="!formInfo.data[i+1].canEdit || formInfo.formStatus !== 1" v-model="formInfo.data[i+1].radio">
                        <el-radio v-for="option, i in formInfo.data[i+1].options" :key="i" :label="option" :value="option"></el-radio>
                    </el-radio-group>
                    <el-input v-if="formInfo.data[i+1].type === 'textarea'" :disabled="!formInfo.data[i+1].canEdit || formInfo.formStatus !== 1" type="textarea" v-model="formInfo.data[i+1].textarea" clearable></el-input>
                </el-form-item>
            </el-col>
<!--            <el-col :span="2" v-if="formInfo.data[i+1] != undefined">{{i+1}}、{{formInfo.data[i+1].label}}:{{formInfo.data[i+1][item.type]}}</el-col>-->
        </el-row>
        <el-form-item v-if="formInfo.formStatus === 1">
            <el-button type="primary" @click="submitForm('formInfo')">提交</el-button>
            <el-button @click="resetForm('formInfo')">重置</el-button>
        </el-form-item>
    </el-form>
</div>
</body>
<script>
    let app = new Vue({
        el: "#app",
        data: {
            formInfo: {
                formId: "",
                submitToDb: false,
                formStatus: "",
                data: ""
            },
            rules: {
                baseRule: [
                    { required: true, message: '必填项不能为空', trigger: ['blur', 'change'] }
                ],
                text: [
                    // { message: '输入不能为空', trigger: 'blur' },
                    // { min: 3, max: 5, message: '长度在 3 到 5 个字符', trigger: 'blur' }
                ],
                select: [
                    { message: '请选择选项', trigger: 'change' }
                ],
                date: [
                    { type: 'date', message: '请选择日期', trigger: 'change' }
                ],
                checkbox: [
                    { type: 'array', message: '请至少选择一个选项', trigger: 'change' }
                ],
                radio: [
                    { message: '请选择一项', trigger: 'change' }
                ],
                textarea: [
                    { message: '请填写文本', trigger: 'blur' }
                ],
                number: [
                    { pattern: /^\d+$/, message: '输入只能是数字', trigger: 'blur'}
                ],
                tel: [
                    { pattern: /^1[3-8]\d{9}$/, message: '请输入正确的号码', trigger: 'blur'}
                ]
            },
            tempFieldNames: new Set(), // 临时增加的字段名
            userInfo: []
        },
        mounted: function(){
            // 获取表单信息
            this.getFormInfo();
        },
        methods: {
            getFormInfo: function () { // 获取表单字段信息用于显示表单
                let that = this;
                $.ajax({
                    type: "GET",
                    url: "/tableOnline/user/getFormAllInfo",
                    dataType: "json",
                    success: function (res) {
                        if(res.code === 200){
                            // console.log("请求表单数据结果", res.data);
                            let data = res.data;
                            that.formInfo.formId = data.formId;
                            that.formInfo.submitToDb = data.submitToDb;
                            that.formInfo.formStatus = data.formStatus;
                            let fieldData = res.data.fields;
                            that.userInfo = res.data.userInfo[0];
                            for(let i = 0; i < fieldData.length; i++){
                                let s = fieldData[i];
                                s["text"] = "";
                                s["select"] = "";
                                s["date"] = null;
                                s["checkbox"] = [];
                                s["radio"] = "";
                                s["textarea"] = "";
                                s["tel"] = "";
                                s["number"] = "";
                                let value = that.userInfo.info[i].value; // 表单中最后一次次修改后的值
                                if(s.type === 'checkbox'){
                                    if(value === ""){
                                        s[s.type] = [];
                                    }else{
                                        s[s.type] = value.split("&");
                                    }
                                }else if(s.type === 'date'){
                                    if(value !== ""){
                                        s[s.type] = new Date(value);
                                    }
                                }else{
                                    s[s.type] = value;
                                }
                            }
                            // 新生成的临时字段名加入集合
                            that.tempFieldNames.add("text");
                            that.tempFieldNames.add("select");
                            that.tempFieldNames.add("date");
                            that.tempFieldNames.add("checkbox");
                            that.tempFieldNames.add("radio");
                            that.tempFieldNames.add("textarea");
                            that.tempFieldNames.add("tel");
                            that.tempFieldNames.add("number");
                            // console.log("结果：", fieldData);
                            that.formInfo.data = fieldData;
                        }else if(res.code === 400){
                            console.log("请求失败");
                        }
                    },
                    error: function (err) {
                        that.$message({
                            message: "服务器错误",
                            center: true
                        });
                        setTimeout(() => window.history.back(), 1000);
                    }
                });
            },
            submitForm: function(formName) { // 提交表单
                this.$refs[formName].validate((valid) => {
                    if (valid) {
                        this.$confirm('确认提交表单?', '提示', {
                            confirmButtonText: '确定',
                            cancelButtonText: '取消',
                            type: 'warning',
                            center: true
                        }).then(() => {
                            let data = $.extend([], this.formInfo.data); // 复制数据副本
                            let target = { // 构造表单数据结构提交
                                formTitle: this.formInfo.formId,
                                submitToDb: this.formInfo.submitToDb,
                                formData: ""
                            };
                            data.forEach(s => { // 格式化提交数据
                                // console.log("进入", s.label, '字段');
                                if(s.type === 'checkbox'){ // 复选框值格式化
                                    s.value = s[s.type].join("&");
                                } else if(s.type === 'date'){
                                    // console.log(s.label, "开始设置value值");
                                    if(s[s.type] !== null && s[s.type] !== undefined && s[s.type] !== ""){
                                        s.value = this.dateFormat(s[s.type]); // 时间格式化
                                        // console.log(s.label, "格式化设置value值结束");
                                    }else{
                                        s.value = "";
                                        // console.log(s.label, "设置value空值结束");
                                    }
                                } else{
                                    s.value = s[s.type];
                                }
                                // console.log(s.label, "开始删除多余键值");
                                for(let key in s){
                                    if(key in this.tempFieldNames){
                                        if(s.type === 'tel'){
                                            console.log("电话字段：", key, "即将删除");
                                        }
                                        delete s[key];
                                    }
                                }
                            });
                            target["formData"] = data;
                            // console.log(JSON.stringify(target));
                            let that = this;
                            $.ajax({
                                type: "POST",
                                contentType : "application/json;charset=UTF-8", // 提交json数据给后端
                                url: "/tableOnline/user/submitForm",
                                data: JSON.stringify(target),
                                dataType: "json",
                                success: function (res) {
                                    if(res.code === 200){
                                        that.$message({
                                            message: "提交成功",
                                            center: true
                                        });
                                        setTimeout(() => location.href = "/tableOnline/pages/user/formList.html", 1500);
                                    }else if(res.code === 400){
                                        that.$message({
                                            message: "提交失败，当前表单无法填写提交",
                                            center: true
                                        });
                                    }else if(res.code === 500){
                                        that.$message({
                                            message: "服务器错误",
                                            center: true
                                        });
                                        location.href = "/tableOnline/user/formList.html";
                                    }
                                },
                                error: function(err){
                                    that.$message({
                                        message: "服务器错误",
                                        center: true
                                    });
                                    location.href = "/tableOnline/user/formList.html";
                                }
                            });
                        }).catch(() => {
                            console.log("取消提交", this.formInfo.data);
                            this.$message({
                                message: "取消提交",
                                center: true
                            })
                        });

                    } else {
                        console.log('error submit!!');
                        // console.log(this.formInfo.data);
                        return false;
                    }
                });
            },
            resetForm: function(formName) { // 重置表单
                this.$refs[formName].resetFields();
            },
            dateFormat: function(date){ // 对时间进行格式化处理
                let year = date.getFullYear();
                let month = date.getMonth()+1;
                let day = date.getDate();
                // let hour = date.getHours();
                // let minute = date.getMinutes();
                // let second = date.getSeconds();
                const formatNumber = function (n){
                    n = n.toString();
                    return n[1] ? n : "0"+n;
                };
                let ret = [year, month, day].map(formatNumber).join('-').toString();
                return ret;
            }
        }
    });
</script>
</html>
