<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="team.tb.dao.AccessGradeMapper">
  <resultMap id="BaseResultMap" type="team.tb.pojo.AccessGrade">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="tabid" jdbcType="VARCHAR" property="tabid" />
    <result column="gradeid" jdbcType="VARCHAR" property="gradeid" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_access_grade
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="team.tb.pojo.AccessGrade">
    insert into t_access_grade (id, tabid, gradeid
      )
    values (#{id,jdbcType=INTEGER}, #{tabid,jdbcType=VARCHAR}, #{gradeid,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="team.tb.pojo.AccessGrade">
    update t_access_grade
    set tabid = #{tabid,jdbcType=VARCHAR},
      gradeid = #{gradeid,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, tabid, gradeid
    from t_access_grade
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, tabid, gradeid
    from t_access_grade
  </select>
</mapper>