<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="team.tb.dao.KeysMapper">
  <resultMap id="BaseResultMap" type="team.tb.pojo.Keys">
    <id column="kid" jdbcType="INTEGER" property="kid" />
    <result column="kname" jdbcType="VARCHAR" property="kname" />
    <result column="ktype" jdbcType="INTEGER" property="ktype" />
    <result column="ktypevalue" jdbcType="VARCHAR" property="ktypevalue" />
    <result column="kcnname" jdbcType="VARCHAR" property="kcnname" />
    <result column="kusvalue" jdbcType="VARCHAR" property="kusvalue" />
    <result column="kchange" jdbcType="BIT" property="kchange" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_keys
    where kid = #{kid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="team.tb.pojo.Keys">
    insert into t_keys (kid, kname, ktype, 
      ktypevalue, kcnname, kusvalue, 
      kchange)
    values (#{kid,jdbcType=INTEGER}, #{kname,jdbcType=VARCHAR}, #{ktype,jdbcType=INTEGER}, 
      #{ktypevalue,jdbcType=VARCHAR}, #{kcnname,jdbcType=VARCHAR}, #{kusvalue,jdbcType=VARCHAR}, 
      #{kchange,jdbcType=BIT})
  </insert>
  <update id="updateByPrimaryKey" parameterType="team.tb.pojo.Keys">
    update t_keys
    set kname = #{kname,jdbcType=VARCHAR},
      ktype = #{ktype,jdbcType=INTEGER},
      ktypevalue = #{ktypevalue,jdbcType=VARCHAR},
      kcnname = #{kcnname,jdbcType=VARCHAR},
      kusvalue = #{kusvalue,jdbcType=VARCHAR},
      kchange = #{kchange,jdbcType=BIT}
    where kid = #{kid,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select kid, kname, ktype, ktypevalue, kcnname, kusvalue, kchange
    from t_keys
    where kid = #{kid,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select kid, kname, ktype, ktypevalue, kcnname, kusvalue, kchange
    from t_keys
  </select>
</mapper>