<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="team.tb.dao.MajorMapper">
  <resultMap id="BaseResultMap" type="team.tb.pojo.Major">
    <id column="mid" jdbcType="INTEGER" property="mid" />
    <result column="mname" jdbcType="VARCHAR" property="mname" />
    <result column="mdepartment" jdbcType="VARCHAR" property="mdepartment" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_major
    where mid = #{mid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="team.tb.pojo.Major">
    insert into t_major (mid, mname, mdepartment
      )
    values (#{mid,jdbcType=INTEGER}, #{mname,jdbcType=VARCHAR}, #{mdepartment,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="team.tb.pojo.Major">
    update t_major
    set mname = #{mname,jdbcType=VARCHAR},
      mdepartment = #{mdepartment,jdbcType=VARCHAR}
    where mid = #{mid,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select mid, mname, mdepartment
    from t_major
    where mid = #{mid,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select mid, mname, mdepartment
    from t_major
  </select>
<!--  根据院系id获取专业-->
  <select id="getMajorByDepartmentId" resultMap="BaseResultMap">
    select mid, mname, mdepartment
    from t_major
    <where>
      <if test="departments != null and departments.length > 0">
        mdepartment in
        <foreach collection="departments" index="index" item="departmentId" open="(" separator="," close=")">
          #{departmentId}
        </foreach>
      </if>
    </where>
  </select>
</mapper>
