<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="team.tb.dao.UserInfoMapper">
  <resultMap id="BaseResultMap" type="team.tb.pojo.UserInfo">
    <id column="ufid" jdbcType="INTEGER" property="ufid" />
    <result column="kid" jdbcType="VARCHAR" property="kid" />
    <result column="value" jdbcType="VARCHAR" property="value" />
    <result column="uid" jdbcType="VARCHAR" property="uid" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_user_info
    where ufid = #{ufid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="team.tb.pojo.UserInfo">
    insert into t_user_info (ufid, kid, value,
      uid)
    values (#{ufid,jdbcType=INTEGER}, #{kid,jdbcType=VARCHAR}, #{value,jdbcType=VARCHAR},
      #{uid,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="team.tb.pojo.UserInfo">
    update t_user_info
    set kid = #{kid,jdbcType=VARCHAR},
      value = #{value,jdbcType=VARCHAR},
      uid = #{uid,jdbcType=VARCHAR}
    where ufid = #{ufid,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select ufid, kid, value, uid
    from t_user_info
    where ufid = #{ufid,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select ufid, kid, value, uid
    from t_user_info
  </select>

<!--  插入一条数据，让数据库自增id-->
  <insert id="insertWithoutKey" parameterType="team.tb.pojo.UserInfo">
    insert into t_user_info (kid, value,
                             uid)
    values (#{kid,jdbcType=VARCHAR}, #{value,jdbcType=VARCHAR},
            #{uid,jdbcType=VARCHAR})
  </insert>

<!--  根据字段id和用户id获取字段值-->
  <select id="getUserInfoByKeyId" resultMap="BaseResultMap">
    select ufid, kid, value, uid
    from t_user_info
    where kid = #{keyId} and uid = #{userId}
  </select>

<!--  返回年级字段非引用值-->
  <select id="getUserGradeInfo" resultMap="BaseResultMap">
    select ui.ufid, ui.kid, g.grade as value, ui.uid
    from t_user_info ui left join t_grade g
    on ui.value = g.gid
    where ui.uid = #{userId} and ui.kid = #{keyId}
  </select>
  <!--  返回院系字段非引用值-->
  <select id="getUserDepartmentInfo" resultMap="BaseResultMap">
    select ui.ufid, ui.kid, d.dname as value, ui.uid
    from t_user_info ui left join t_department d
    on ui.value = d.did
    where ui.uid = #{userId} and ui.kid = #{keyId}
  </select>
  <!--  返回专业字段非引用值-->
  <select id="getUserMajorInfo" resultMap="BaseResultMap">
    select ui.ufid, ui.kid, m.mname as value, ui.uid
    from t_user_info ui left join t_major m
    on ui.value = m.mid
    where ui.uid = #{userId} and ui.kid = #{keyId}
  </select>
  <!--  返回班级字段非引用值-->
  <select id="getUserClassInfo" resultMap="BaseResultMap">
    select ui.ufid, ui.kid, c.cnum as value, ui.uid
    from t_user_info ui left join t_class c
    on ui.value = c.cid
    where ui.uid = #{userId} and ui.kid = #{keyId}
  </select>
<!--  更新指定用户指定字段的值-->
  <update id="updateValue" parameterType="team.tb.pojo.TableInfo">
    update t_user_info
    set value = #{value}
    where kid = #{kid} and uid = #{uid}
  </update>
</mapper>
