<!--
 * @Descripttion: Powered By Name1e3s
 * @Author: Name1e3s
 * @Date: 2021-04-11 00:29:44
 * @LastEditors: Name1e3s
 * @LastEditTime: 2021-04-11 10:53:56
 * @Github:: https://github.com/NameQuin
-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>填表系统</title>
    <link rel="stylesheet" href="../../layui/css/layui.css" th:href="@{/layui/css/layui.css}">
    <script src="/layui/layui.js" th:src="@{/layui/layui.js}" charset="utf-8"></script>
    <script type="text/javascript" src="../../js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
</head>

<body>
    <div class="layui-layout layui-layout-admin">
        <div class="layui-header">
            <div class="layui-logo" style="text-decoration: solid;">Admin管理</div>
            <ul class="layui-nav layui-layout-right">
                <li class="layui-nav-item">
                    <a href="javascript:;">
                        <img th:src="@{/imgs/default.jpg}" src="/WEB-INF/imgs/default.jpg" class="layui-nav-img">
                        <span th:text="${session.user.username}">user</span>
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a th:href="@{/pages/admin/userInfo.html}" target="ifr">个人信息</a></dd>
                        <dd><a th:href="@{/pages/admin/changePwd.html}" target="ifr">修改密码</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item"><a href="/user/logout" th:href="@{/user/logout}">Sign out</a></li>
            </ul>
        </div>

        <div class="layui-side layui-bg-black">
            <div class="layui-side-scroll">
                <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
                <ul class="layui-nav layui-nav-tree" lay-filter="test">
                    <li class="layui-nav-item layui-nav-itemed">
                        <a class="" href="javascript:;">用户管理</a>
                        <dl class="layui-nav-child">
                            <dd><a href="/pages/admin/userList.html" th:href="@{/pages/admin/userList.html}" target="ifr">用户列表</a></dd>
                        </dl>
                    </li>

                    <li class="layui-nav-item">
                        <a href="javascript:;">表单管理</a>
                        <dl class="layui-nav-child">
                            <dd><a href="javascript:;" th:href="@{/pages/admin/formList.html}" target="ifr">查看表单</a></dd>
                            <dd><a href="javascript:;" th:href="@{/pages/admin/addForm.html}" target="ifr">新建表单</a></dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item">
                        <a href="javascript:;">友情链接</a>
                        <dl class="layui-nav-child">
                            <dd><a href="http://www.cdut.edu.cn/" target="_blank">成都理工大学官网</a></dd>
                            <dd><a href="http://www.aao.cdut.edu.cn/" target="_blank">成都理工大学教务处</a></dd>
                            <dd><a href="https://github.com/NameQuin/tableOnline" target="_blank">Github项目地址</a></dd>
                        </dl>
                    </li>
                </ul>
            </div>
        </div>

        <div class="layui-body">

            <!-- 内容主体区域，实现页面局部跳转  登录之后默认显示-->
            <iframe src="pages/index.html" th:src="@{/pages/index.html}" width="100%" height="100%" name="ifr"></iframe>

        </div>



<div class="layui-footer">
    <!-- 底部固定区域 -->
    <li style="margin-left: 45%;">@Powered By Name1e3s</li>
</div>
</div>
<script>
    //JavaScript代码区域
    layui.use('element', function () {
        var element = layui.element;

    });
</script>
</body>

</html>
